
<%# <%= render 'shared/navbar' %>

    <div class="h-[80vh] bg-gray-50 flex flex-col items-center justify-center text-center px-4">
        <h1 class="text-4xl md:text-5xl font-bold text-blue-600 mb-4">Clinic Portal</h1>
        <p class="text-gray-600 text-lg mb-8">A simple patient portal for Receptionists and Doctors.</p>
    </div>
